.navbar-brand {
    font-family: 'Intern';
    font-weight: 700;
    font-size: 30px;
}

    .nav-item {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.nav-item .nav-link.active {
    font-weight: 600;
    color: #901CEB !important;
}

.nav-link {
    color: #000000 !important;
}

.nav-link:hover {
    color: #901CEB !important;
}

/* Product Details */
.product-details h1 {

    position: absolute;
    left: 45px;
    top: 90px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #6F6F6F;
}

.product-details .btn-cta img {
    position: absolute;
    width: 400px;
    height: 350px;
    left: 2px;
    top: 150px;
}

.product-details h2 {
    position: absolute;
    width: 239px;
    height: 37px;
    left: 400px;
    top: 140px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;

    color: #000000;

}

.product-details p {
    position: absolute;
    width: 712px;
    height: 39px;
    left: 400px;
    top: 180px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #000000;
}

.product-details .stars img {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 400px;
    top: 240px;
}

.product-details h3 {
    position: absolute;
    width: 39px;
    height: 30px;
    left: 608px;
    top: 245px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
}

.products-price {
    position: absolute;
    width: 141px;
    height: 30px;
    left: 518px;
    top: 362px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
} 

.products-size {
    position: absolute;
    width: 54px;
    height: 30px;
    left: 405px;
    top: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #6F6F6F;
}

.products-size-number {
    position: absolute;
    width: 51px;
    height: 30px;
    left: 669px;
    top: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.products-shade {
    position: absolute;
    width: 85px;
    height: 30px;
    left: 405px;
    top: 360px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #6F6F6F;
}

.products-select-shade {
    position: absolute;
    width: 125px;
    height: 30px;
    left: 669px;
    top: 360px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #6F6F6F;
}

.component-products {
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 8px;
    border: #000000;
    padding-bottom: 10px;
}

.products-img img {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 669px;
    top: 400px;
}

/* Tutup Product Details */

